/* Asterisk wildcard selector to override default styles added by the browser */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* General style */
body {
  font-family: 'Arial', sans-serif;
}


h1,h2,h3,h4 {
  text-transform: capitalize;
  text-align: center;
  padding-bottom: 35px;
}

p {
  padding: 0 15px 15px;
  text-align: center;
}

.options {
  display: flex;
  align-items: center;
  justify-content: space-evenly; 
}

#score {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
